asgiref
certifi
cffi
charset-normalizer
cryptography
decouple
defusedxml
Django
django-allauth
django-anymail
idna
oauthlib
pillow
pycparser
PyJWT
python-decouple
python3-openid
requests
requests-oauthlib
sqlparse
typing_extensions
urllib3
