<!---------------------------------- base template -------------------------------------------->
<!DOCTYPE html>
{% load static %}
<html>

   <head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    
    <!--- links para fontes-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- arquivos estaticos css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    
    {% block style %}{% endblock %}

   </head>

   <body>

    <!-------------------------------NAVBAR--------------------------------------->
    <div  style="float: inline-start; clear: none;" class="barra">

        <div class="imagem">
            <a href="{% url 'curso:home' %}">
                <img src="{% static 'img/manilogo.svg' %}">
            </a>
        </div>

        <!--  <img class="imagem" src="../img/manilogo.svg"> -->
        
        <div><p class="line"></p></div> 

        <div style="border-bottom: 10px solid white;" class="frame">

          <!-- <div><p class="line"></p></div> -->

          <a class="frame" href = "{% url 'curso:home' %}">HOME</a>
          <a class="frame" href = "{% url 'curso:sobre' %}">SOBRE</a>
          <a class="frame" href = "{% url 'curso:cursos' %}">CURSOS</a>
          <a class="frame" href = "{% url 'blog:blog' %}">BLOG</a>
          <a class="frame" href = "{% url 'blog:contato' %}">CONTATO</a>

        </div>

     </div>

     <!---------------------------------FINAL DO NAVBAR-------------------------------------------->
    
     <!---------------------------------------MAIN------------------------------------------------>

    {% block main%}{% endblock %}

    {% block script %}{% endblock %} 
    <!-- scripts js-->
    <script src="{% static 'js/slider.js' %}"></script>

      <!----------------------------INÍCIO DO FOOTER------------------------------------------------>
      <div style="width: 1800px; align-items: center;margin-bottom: -300px; " class="base" >

        <a href="{% url 'curso:home' %}">
            <img class="logo" src="{% static 'img/manilogo.svg' %}">
        </a>
        
        <div style="margin:7px" class="bloco-principal">

           <div class="bloco-1">

            <h4 style="padding-bottom: 1px; padding-top: 30px;">Entre em contato</h4>

            <p style="padding: 10px; padding-left: 0;">contato@manicursos.com.br</p>
            <p style="padding: 10px; padding-left: 0;">+1-2345-6789</p>
            <p style="padding: 10px; padding-left: 0;">23 Cornelia St, NY 10014, EUA</p>
            <a href="https://www.facebook.com/ejectufrn/" target="_blank">
                <img class="redes" src="{% static 'img/redes_sociais.svg' %}"> 
            </a> 
            

           </div>

           
           <div style="padding-top: 50px;" class="bloco-2" >

            <h4 style="padding-bottom: 3px;">FAQ</h4>

            <p style="padding: 6px; padding-left: 0;">Auctor volupat.</p>
            <p style="padding: 6px; padding-left: 0;">Fermentum turpis.</p>
            <p style="padding: 6px; padding-left: 0;">Mi consequat.</p>
            <p style="padding: 6px; padding-left: 0;">Amet venenatis.</p>
            <p style="padding: 6px; padding-left: 0;">Convalis porttitor.</p>

           </div>

           <div style="padding-top: 50px;" class="bloco-3">

            <h4 style="padding-bottom: 3px;">Central de Ajuda</h4>

            <p style="padding: 6px; padding-left: 0;">Egestas vitae.</p>
            <p style="padding: 6px; padding-left: 0;">Viverra Iorem ac.</p>
            <p style="padding: 6px; padding-left: 0;">Eget ac tellus.</p>
            <p style="padding: 6px; padding-left: 0;">Erat nulla.</p>
            <p style="padding: 6px; padding-left: 0;">Vulputate proin.</p>

           </div>


        </div>

        <div class="copyright">

            <p>Copyright © 2023. All rights reserved.</p>
            
           </div>
           

       
    </div>
    <!---------------------------FINAL DO FOOTER--------------------------->

   </body>

</html>